:root{
    --height-header:80px;
    --height-footer:500px;
}

html, body{
    margin: 0;
    padding: 0;
}

header{
    background-color: #FED000;
    position: absolute;
    width: calc(100% - 16%);
    height: var(--height-header);
    top: 0;
    display: flex;
    padding: 0 8%;
    align-items: center;
}

header img{
    height: 80%;
    display: flex;
    align-self: center;
    width: auto;
    margin-top: auto;
    margin-bottom: auto;
}

header ul{
    display: flex;
    align-items: center;
}

header ul li{
    list-style: none;
    display: flex;
    align-items: center;
}

#menu_header{
    font-size: 14pt;
    font-weight: 500;
    text-transform: uppercase;
    padding-left: 5%;
}

#menu_header li{
    margin-right: 50px;
}

#utilisateur{
    font-size: 16pt;
    right: 40px;
    position: absolute;
}

#utilisateur li{
    margin-left: 20px;
}

.pointer:hover{
    cursor: pointer;
}

#menu_header li:hover{
    text-decoration: underline;
    text-decoration-thickness:3px ;
}

footer{
    width: 100%;
    height: var(--height-footer);
    background-color: purple;
}

main{
    margin-top: var(--height-header);
    width: 84%;
    padding: 10px 8%;
}
