body
{
    background-color: white;
}
footer{
    background-color: #00037A;
    margin-left: -8px;
    margin-bottom: -8px;
    margin-right: -8px;
}
.logoLEGO{
    margin: 2%;
}

.logoLEGObas{
    margin: 2%;
}

.premierlienheadergauche{
    color: black;
    font-size: 17.5px;
}

.validation{
    display: block;
    margin-bottom: 1%;
    margin-top: 2%;
    margin-left: auto;
    margin-right: auto;
    width: 17.5%;
    height: 50px;
    border-radius: 10px;
    font-size: 17.5px;
}
h1{
    text-align: center;
}

.articles{
    font-size: 20px;
    margin-left: 10%;
    margin-top: 2%;
}

.sommecommande{
    font-size: 20px;
    margin-left: 10%;
    margin-top: 2%;
}

.FLEXGAUCHE{
    flex: auto;
    padding: auto;
    display: block;
    margin-left: 10%;
    margin-right: auto;
}
.ContenuFLEXGAUCHE{
    border-radius: 10px;
    width: 80%;
    height: 25px;
}

.FLEXDOUBLE{
    display: flex;
    flex-wrap: nowrap;
}

.FLEXDROITE{
    flex: auto;
    padding: auto;
    display: block;
    margin-left: auto;
    margin-right: 10%;
}

.ContenuFLEXDROITE{
    border-radius: 10px;
    width: 80%;
    height: 25px;
}

.adresse{
    display: block;
    margin-right: auto;
    margin-left: 10%;
}

.ContenuADRESSE{
    display: block;
    margin-left: 10%;
    margin-right: auto;
    width: 72.5%;
    height: 25px;
    border-radius: 10px;
}


header{
    background-color: #FED000;
    width: calc(100% - 16%);
    height: var(--height-header);
    top: 0;
    display: flex;
    padding: 0 8%;
    align-items: center;
    margin: -10px;
}

header img{
    height: 80%;
    display: flex;
    align-self: center;
    width: auto;
    margin-top: auto;
    margin-bottom: auto;
}

header ul{
    display: flex;
    align-items: center;
}

header ul li{
    list-style: none;
    display: flex;
    align-items: center;
}

#menu_header{
    font-size: 14pt;
    font-weight: 500;
    text-transform: uppercase;
    padding-left: 5%;
}

#menu_header li{
    margin-right: 50px;
}

#utilisateur{
    font-size: 16pt;
    right: 40px;
    position: absolute;
}

#utilisateur li{
    margin-left: 20px;
}

.pointer:hover{
    cursor: pointer;
}

#menu_header li:hover{
    text-decoration: underline;
    text-decoration-thickness:3px ;
}
:root{
    --height-header:80px;
    --height-footer:500px;
}

.affichagearticle{
    padding-left: 5%;
}

.Nomarticle{
    text-align: left;
}

.Numeroarticle{
    text-align: center;
}

.Prixarticle{
    text-align: right;
}

.tablecomm{
    margin-left: 10%;
}

.total{
    font-size: 25px;
}

.totalbon{
    font-size: 20px;
}